@page "/"
@using CarRental.Business.Services;
@using CarRental.Common.Enums;
@using CarRental.Common.Interfaces;
@using CarRental.Common.Models;
@inject CarRentalService service

<PageTitle>Car Rental</PageTitle>
<div style="@service.errorShow">
	<div class="alert alert-danger" role="alert">
		@service.errorMessage
	</div>
</div>
<h1>Welcome to Car Rental Service!</h1>

<!-- Cars Table -->
<div class="row w-100">
	<div style="@service.LockTable">
	<table class="table" title="Cars">
		<thead>
			<tr>
				<th scope="col">RegNo</th>
				<th scope="col">Make</th>
				<th scope="col">Odometer</th>
				<th scope="col">Cost Per KM</th>
				<th scope="col">Cost Per Day</th>
				<th scope="col">Vehicle Type</th>
				<th scope="col">Action</th>
				<th scope="col">Status</th>
			</tr>
		</thead>

		<tbody>
			<tr>
					<td><input class="form-control" placeholder="RegNo" @bind="service.RegNo" /></td>
					<td><input class="form-control" placeholder="Make" @bind="service.Make" /></td>
					<td><input class="form-control" placeholder="Odometer" @bind="service.Odometer" /></td>
					<td><input class="form-control" placeholder="Cost per Km" @bind="service.CostKM" /></td>
					<td><input class="form-control" placeholder="Cost Per day" @bind="service.CostPerDay" /></td>
				<td>
						<select @bind="service.type">
						@foreach(var item in Enum.GetNames(typeof(VehicleTypes)))
						{
							<option>@item</option>
						}
					</select>
				</td>
					<td><button class="btn-outline-primary" @onclick="() => service.CheckInputAddVehicle()">Add</button></td>
					<td class="badge bg-warning" style="margin-top: 0.5em; @service.taskLoading">
					Processing...
				</td>
			</tr>
			@foreach (var vehicle in service.GetVehicles())
			{
				<tr>
					<td>@vehicle.RegNo</td>
					<td>@vehicle.Make</td>
					<td>@vehicle.Odometer KM</td>
					<td>@vehicle.CostKM $</td>
					<td>@vehicle.CostPerDay $</td>
					<td>@vehicle.VehicleType</td>
					@if (vehicle.VehicleStatus == Common.Enums.VehicleStatuses.Available)
					{
						<td class="col-sm-3">
							<div class="input-group">
									<select @bind="service.customerId" class="form-select form-select-sm">
									@foreach (var customer in service.GetPeople())
									{
										<option selected value="@customer.Id">@customer.FirstName @customer.LastName</option>
									}
								</select>
									<button class="btn-outline-success" @onclick="(() => service.FakeDelayRentCar(vehicle))">Rent</button>
							</div>
						</td>
						<td class="badge bg-success" style="margin-top: 0.5em">
							@vehicle.VehicleStatus
						</td>
					}
					else
					{
						<td>
								<input @bind="service.addedKM" placeholder="KM Returned" />
							<button class="btn-outline-secondary" @onclick="(() => service.FakeDelayReturnCar(vehicle))">Return</button>
						</td>
						<td class="badge bg-danger" style=" margin-top: 0.5em">
							@vehicle.VehicleStatus
						</td>
					}
				</tr>
			}
		</tbody>
	</table>
	</div>
</div>
<!-- People Table -->
<div class="row w-50">
	<table class="table">
		<thead>
			<tr>
				<th scope="col">SSN</th>
				<th scope="col">First Name</th>
				<th scope="col">Last Name</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><input class="form-control" placeholder="SSN" @bind="service.newCustomer.SSN" /></td>
				<td><input class="form-control" placeholder="First Name" @bind="service.newCustomer.FirstName" /></td>
				<td><input class="form-control" placeholder="Last Name" @bind="service.newCustomer.LastName" /></td>
				<td><button class="btn-outline-primary" @onclick="() => service.CheckInputAddPerson()">Add</button></td>
			</tr>
			@foreach (var customer in service.GetPeople())
			{
				<tr>
					<td>@customer.SSN</td>
					<td>@customer.FirstName</td>
					<td>@customer.LastName</td>

				</tr>
			}
		</tbody>
	</table>
</div>
<!-- Bookings Table -->
<div class="row w-75">
	<table class="table">
		<thead>
			<tr>
				<th>Vehicle</th>
				<th>Rented by</th>
				<th>Rented KM</th>
				<th>Rented</th>
				<th>Returned KM</th>
				<th>Returned</th>
				<th>Cost</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var booking in service.GetBookings())
			{
				<tr>
					<td>@booking.Vehicle.RegNo @booking.Vehicle.Make</td>
					<td>@booking.RentedBy.FirstName @booking.RentedBy.LastName</td>
					<td>@booking.KMrented KM</td>
					@if (booking.KMreturned < booking.KMrented)
					{
						<td>@booking.Start.ToString("yyyy-MM-dd")</td>
						<td></td>
						<td></td>
						<td></td>
						<td class="badge bg-dark" style="margin-top: 0.5em">
							@booking.Status
						</td>
					}
					else
					{
						<td>@booking.Start.ToString("yyyy-MM-dd")</td>
						<td>@booking.KMreturned KM</td>
						<td>@booking.End.ToString("yyyy-MM-dd")</td>
						<td>@booking.Cost $</td>
						<td class="badge bg-danger" style=" margin-top: 0.5em">
							@booking.Status
						</td>
					}
				</tr>
			}
		</tbody>
	</table>
</div>
